<div class="jumbotron">
    <h3 class="text-black-50 font-italic font-h3">Welcome to the personal calendar landing page</h3>
    <div>
        <pre class="text-black-50 description-font description-location">Here you can create<br/> events on a specific day.
            <br>Scroll down and start use it now!
        </pre>
        <button class="start-button btn btn-primary btn-lg" (click)="_scroll()">Start it now</button>
    </div>
</div>
<div>
    <h3 class="special-font">#МАМИНВЕРСТАЛЬЩИК</h3>
    <div #target id="target">
        <div >
            <form  class="form-signin">
                <img class="" src="../../assets/img/icon.png" alt="" width="72"
                     height="72">
                <h1 class="h3 mb-3 font-weight-normal font-italic text-black-50">Sign In</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <div>
            <form class="form-signup">
                <img class="" src="../../assets/img/icon.png" alt="" width="72"
                     height="72">
                <h1 class="h3 mb-3 font-weight-normal font-italic text-black-50">Sign Up</h1>
                <label for="emailField" class="sr-only">Email address</label>
                <input type="email" class="form-control" id="emailField" placeholder="Email address" required>
                <label for="usernameField" class="sr-only">Username</label>
                <input type="text" class="form-control" id="usernameField" placeholder="Username" required>
                <label for="passwordField" class="sr-only">Password</label>
                <input type="password" class="form-control" id="passwordField" placeholder="Password" required>
                <button class="mt-2 btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
    <h3 class="special-font">#ПАПИНБЭКЕНДЕР</h3>
</div>
