/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.jumbotron{
  background-image: url('assets/img/landingpage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
}

